<p-card class="mb-4 p-card-w-full movie-card">
  <div class="flex align-items-stretch">
    <img [src]="movie().smallPosterUrl" alt="{{ movie().title }}" class="h-auto mr-3" />
    <div class="p-card-content mt-0">
      <h3 class="my-0">{{ movie().title }}</h3>
      <div class="mb-1 text-sm">
        <span class="mr-1">
          {{ movie().releaseYear }}
        </span>
        <app-popularity-line
          [voteAverage]="movie().vote_average"
          [voteCount]="movie().vote_count"
        />
      </div>
      <p class="mb-8 pb-3">
        {{ movie().overview | truncate: 150 }}
        @if (movie().overview.length > 150) {
          <a href="#" class="text-sm">Read more</a>
        }
      </p>
      <div class="view-details">
        <p-button label="View Details" [routerLink]="['/movie', movie().id]"></p-button>
      </div>
    </div>
    <div class="p-card-footer"></div>
  </div>
</p-card>
